* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    width: 88%;
  }
}

li {
  list-style-type: none;
}

body {
  position: relative;
  font-family: 'Aboreto', cursive;
  font-family: 'Kumbh Sans', sans-serif;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.popup {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 500px;
  height: 500px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 590px) {
  .popup {
    width: 320px;
    height: 320px;
  }
}

.popup img {
  max-width: 100%;
  border-radius: 8px;
}

.closePopup {
  position: absolute;
  top: -32px;
  right: -32px;
  z-index: 50000;
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 420px) {
  .closePopup {
    top: -40px;
    right: 0;
  }
}

.nav {
  padding-top: 15px;
}

.nav .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .container .shopping-cart {
  position: absolute;
  top: calc(100% + 20px);
  width: 300px;
  height: 170px;
  padding: 25px;
  border-radius: 8px;
  background-color: #fff;
  right: 5%;
  -webkit-box-shadow: 8px 0px 15px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 8px 0px 15px -5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 9000000;
}

.nav .container .shopping-cart .cart {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .nav .container .shopping-cart {
    width: 100%;
    height: 250px;
    right: 0;
  }
}

.nav .container .shopping-cart .empty {
  color: #84858a;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .container .shopping-cart .container-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.nav .container .shopping-cart .container-cart .delate {
  cursor: pointer;
}

.nav .container .shopping-cart .container-cart img {
  max-width: 60px;
  border-radius: 8px;
}

.nav .container .shopping-cart .container-cart p, .nav .container .shopping-cart .container-cart .price {
  color: #84858a;
  font-weight: normal;
}

.nav .container .shopping-cart .container-cart p {
  font-size: 13px;
  padding-bottom: 8px;
}

.nav .container .shopping-cart.active {
  opacity: 1;
}

.nav .container .shopping-cart .btn {
  color: #fff;
  background-color: #ff7d1b;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
  margin-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav .container .shopping-cart .btn:hover {
  opacity: .8;
}

.nav .container .menu-icon {
  display: none;
  position: absolute;
}

@media (max-width: 767px) {
  .nav .container .menu-icon {
    display: block;
  }
}

.nav .container .logo img {
  width: 105px;
}

@media (max-width: 767px) {
  .nav .container .logo img {
    margin-left: 40px;
  }
}

.nav .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 767px) {
  .nav .container .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 250px;
    background-color: #fff;
    top: 0;
    left: -120%;
    height: 100vh;
    z-index: 5020000;
    gap: 40px;
    font-weight: bold;
    padding-top: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 60px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav .container .links.active {
    left: -5%;
  }
}

.nav .container .links li a {
  color: #84858a;
}

@media (max-width: 767px) {
  .nav .container .links li a {
    color: #000;
    font-weight: bold;
  }
}

.nav .container .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.nav .container .nav-icons .cart-icon {
  cursor: pointer;
}

.nav .container .nav-icons .avatar {
  width: 40px;
}

.landing {
  padding: 130px 0;
}

@media (max-width: 767px) {
  .landing {
    padding-top: 15px;
  }
}

.landing .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 767px) {
  .landing .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 40px;
  }
}

.landing .container .imgs-slider {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.landing .container .imgs-slider .next-btn,
.landing .container .imgs-slider .prev-btn {
  display: none;
}

@media (max-width: 767px) {
  .landing .container .imgs-slider {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.landing .container .imgs-slider .img-preview {
  max-width: 80%;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .landing .container .imgs-slider .img-preview {
    display: none;
  }
}

.landing .container .imgs-slider .img-preview img {
  max-width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.landing .container .imgs-slider .imgs-below {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .landing .container .imgs-slider .imgs-below {
    width: 100%;
  }
}

.landing .container .imgs-slider .imgs-below img {
  width: 20%;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 767px) {
  .landing .container .imgs-slider .imgs-below img {
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  .landing .container .imgs-slider .imgs-below img.active, .landing .container .imgs-slider .imgs-below img:hover {
    opacity: .7;
  }
}

.landing .container .right-content {
  width: 80%;
}

.landing .container .right-content .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.landing .container .right-content .add .minus-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

@media (max-width: 767px) {
  .landing .container .right-content .add .minus-plus {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 65px;
    margin-bottom: 30px;
  }
}

.landing .container .right-content .add .minus-plus img {
  cursor: pointer;
}

.landing .container .right-content .add .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #fff;
  background-color: #ff7d1b;
  padding: 15px 20px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .landing .container .right-content .add .btn {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .landing .container .right-content {
    width: 95%;
  }
}

.landing .container .right-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.landing .container .right-content .content h2 {
  color: #ff7d1b;
  font-weight: 500;
  font-size: 16px;
}

.landing .container .right-content .content h1 {
  font-size: 28px;
}

.landing .container .right-content .content p {
  font-size: 15px;
  color: #84858a;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .landing .container .right-content .content .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.landing .container .right-content .content .price h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-bottom: 12px;
}

.landing .container .right-content .content .price h3 span {
  color: #ff7d1b;
  font-weight: 600;
  font-size: 12px;
  background-color: #ffeee0;
  padding: 3px;
  border-radius: 3px;
}

.landing .container .right-content .content .price .pre-offer {
  color: #84858a;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

@media (max-width: 767px) {
  .imgs-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .imgs-slider .next-btn,
  .imgs-slider .prev-btn {
    position: absolute;
    z-index: 2000000;
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    display: block !important;
    cursor: pointer;
  }
  .imgs-slider .next-btn {
    right: 50px;
  }
  .imgs-slider .prev-btn {
    left: 50px;
  }
  .imgs-below img {
    width: 100% !important;
    cursor: default !important;
  }
}
/*# sourceMappingURL=style.css.map */
